.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0 5px 0;
    margin-bottom: 5px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav {
        font-size: 16px;
        line-height: 19px;
    }
.nav__list {
    display: flex;
    align-items: center;
}
    .nav__link {
        position: relative;
        color: $black;
        margin-right: 32px;
        transition: all 0.3s linear;
    }
    .nav__link::before {
        display: inline-block;
        content: '';
        width: 20px;
        height: 2px;
        background-color: $green;
        position: absolute;
        right: 0px;
        bottom: -3px;
        transition: all 0.5s linear;
    }
    .nav__link:hover {
        color: $green;
    }
    .nav__link:hover::before {
        background-color: $onhover;
        width: 100%;
    }
    &__btn {
        cursor: pointer;
        border: none;
        padding: 17px 33px;
        background-color: $green;
        border-radius: 20px;
        color: $white;
        transition: background-color 0.3s linear;
    }

    &__btn:hover {
        background-color: $onhover;
    }
}
.fixed {
    padding: 0;
    position: fixed;
    width: 100%;
    background-color: $white;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
    animation: fadeIn;
    animation-duration: 1s;
    z-index: 1000;
}
.burger {
    display: none;
    padding: 9px 2px;
    background: none;
    border: 0;
    cursor: pointer;
    z-index: 2;
}

.burger__item {
    display: block;
    width: 30px;
    height: 3px;
    background-color: $green;
    position: relative;
}

.burger__item:before, .burger__item:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: $green;
    position: absolute;
    left: 0;
    z-index: 1;
}

.burger__item:before {
    top: -8px;
}

.burger__item:after {
    bottom: -8px;
}

.burger.active .burger__item {
    background: none;
    animation: fadeIn;
    animation-duration: 0.3s;
}
.burger.active .burger__item:before {
    transform: rotate(45deg) translate(5px, 6px);
    animation: fadeIn;
    animation-duration: 0.3s;
}

.burger.active .burger__item:after {
    transform: rotate(-45deg) translate(5px,-6px);
    animation: fadeIn;
    animation-duration: 0.3s;
}
@media (max-width: 992px) {
    .header {
        background-color: $white;
        padding: 10px 0;
        text-align: center;
    }
.nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-500%);
    transition: all 1s linear;
    width: 100%;
    height: 100vh;
    background-color: rgb(0 0 0 / 85%);
    z-index: 2;
}
.nav__list {
    flex-direction: column;
    overflow: scroll;
}
.seen {
    transform: translateY(0%);
    transition: all 1s linear;
}
.header .nav {
    font-size: 22px;
}
.nav__link {
    display: block;
    margin-bottom: 20px;
    padding: 8px 50px;
    }
    .header .nav__link:hover {
        color: $white;
    }
    .header .nav__link::before {
        content: none;
    }
    .header .nav__link {
        margin-right: 0;
        color: $white;
    }
.header__btn {
    display: block;
    margin: 0 auto;
    padding: 8px 20px;
    background-color: transparent;
    color: $white;
    padding: 0;
    margin-bottom: 20px;
}
.burger {
    display: block;
}
}