.headertop {
    margin: 120px 0 85px 0;
    &__list {
        margin-bottom: 29px;
    }
    &__link {
        margin-bottom: 25px;
    }
    &__link:last-child {
        margin-bottom: 0;
    }
    &__link a{
        display: inline-block;
        background-color: $green;
        margin-left: 33px;
        padding: 5px 10px;
        border-radius: 10px;
        color: $white;
        font-size: 16px;
        line-height: 23px;
        transition: all 0.3s linear;
        &:hover {
            background-color: $onhover;
        }
    }
    &__link i {
        width: 16px;
        height: 16px;
        color: $green;
    }
    &__title {
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 39px;
        @extend %bold;
    }
    &__title span {
        color: $green;
    }
    &__inner {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__swiper {
        max-width: 497px;
    }
    &__slide img {
        object-fit: cover;
    }
    &__infolist {
        margin-bottom: 30px;
        font-size: 16px;
    }
    &__infolist:last-child {
        margin-bottom: 0;
    }
    &__infolist i {
width: 20px;
height: 20px;
color: $green;
margin-right: 22px;
    }
    .asterisk {
        color: $black;
    }
}
@media (max-width: 1311px) {
.headertop__swiper {
    max-width: 414px;
}
.headertop__infolist {
    font-size: 14px;
}
}
@media (max-width: 1173px) {
    .headertop__swiper {
        max-width: 234px;
    }
    .headertop__infolist {
        margin-bottom: 16px;
    }
    }
@media (max-width: 992px) {
    .headertop {
        margin-bottom: 20px;
    }
    .headertop__title {
        margin-bottom: 35px;
        font-size: 18px;
    }
    .headertop__swiper {
        display: none;
    }
    .headertop .headertop__inner {
        display: block;
    }
    .headertop__infolist {
        text-align: left;
        font-size: 18px;
        margin-bottom: 28px;
    }
    .headertop__infolist i {
        margin-right: 5px;
    }
}
@media (max-width: 862px) {
    .headertop__infolist {
        text-align: center;
        font-size: 16px;
    }
}
@media (max-width: 457px) {
    .headertop__title {
        font-size: 12px;
    }
    .headertop__title span {
        font-size: 18px;
    }
    .headertop__infolist {
        font-size: 14px;
    }
}
@media (max-width: 386px) {
    .headertop__list {
        text-align: center;
    }
    .headertop__link a {
        margin-left: 15px;
        font-size: 12px;
        width: 100%;
        margin: 0 auto;
    }
    .headertop__link i {
        display: none;
    }
}