.services {
    margin-bottom: 50px;

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        align-items: center;
        margin: 0 35px 35px 35px;
        max-width: 640px;
        width: 100%;
        background-color: $white;
        border-radius: 10px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    }

    &__img {
        background: url(../../images/spinner.gif) center / 50px no-repeat;
        min-height: 50px;
    }

    &__content {
        padding: 34px 32px 13px 34px;
        text-align: center;
    }

    &__info i {
        font-size: 50px;
        margin-bottom: 24px;
        color: $green;
    }

    &__name {
        font-size: 14px;
        font-weight: 400;
        line-height: 29px;
        margin-bottom: 13px;
    }

    &__subname {
        @extend %bold;
        font-size: 14px;
        line-height: 23px;
        margin-bottom: 18px;
    }

    &__price {
        padding: 10px 20px;
        background-color: $green;
        color: $white;
        font-size: 18px;
        line-height: 29px;
        border-radius: 10px;
    }

    &__review {
        padding: 25px 117px 25px 58px;
        margin: 0 auto;
        max-width: 1351px;
        width: 100%;
        background-color: $white;
        box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
        border-radius: 10px;
    }

    &__list {
        font-size: 16px;
        line-height: 25px;
    }

    &__discount {
        margin-bottom: 10px;

        span {
            color: $green;
        }
    }

    &__discount:last-child {
        margin-bottom: 0;
    }

    &__discount i {
        font-size: 16px;
        margin-right: 45px;
        color: $green;
    }

    .icon__black {
        color: $black;
    }
}

@media (max-width: 1451px) {
    .services__item {
        max-width: 75%;
    }

    .services__content {
        margin: 0 auto;
    }

    .services__name {
        font-size: 16px;
    }

    .services__subname {
        font-size: 18px;
    }
}
@media (max-width: 1191px) {
    .services__review {
        padding-right: 15px;
        padding-left: 15px;
    }
    .services__list {
        font-size: 14px;
    }
    .services__discount i {
        margin-right: 10px;
    }
}

@media (max-width: 992px) {
    .services {
        margin-bottom: 20px;
    }
    .services__item {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .services__content {
        margin: 0 auto;
    }

    .services__name {
        font-size: 14px;
    }

    .services__subname {
        font-size: 14px;
    }
}
@media (max-width: 897px) {
    .services__list {
        text-align: center;
        font-size: 14px;
    }
}
@media (max-width: 722px) {
    .services__item img {
        display: none;
    }
}

@media (max-width: 575px) {
    .services__item {
        margin-left: 0;
        margin-right: 0;
    }
}
@media (max-width: 495px) {
    .services__content {
        padding: 10px;
    }
    .services__info i {
        font-size: 35px;
    }
    .services__name {
font-size: 12px;
    }
    .services__subname {
        font-size: 12px;
    }
    .services__price {
        font-size: 12px;
    }
}
@media (max-width: 364px) {

}