@font-face {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../fonts/roboto-regular-webfont.woff2') format('woff2'),
        url('../../fonts/roboto-regular-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../../fonts/roboto-bold-webfont.woff2') format('woff2'),
        url('../../fonts/roboto-bold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../../fonts/roboto-light-webfont.woff2') format('woff2'),
        url('../../fonts/roboto-light-webfont.woff') format('woff');
}