html,
body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    background-color: #F9F9F9;
    height: 100%;
    scroll-behavior: smooth;
    font-display: swap;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1630px;
    margin: 0 auto;
    padding: 0 15px;
}

.global__title {
    margin-bottom: 57px;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    text-decoration: underline;
    @extend %bold;
}
.global__title i {
    margin-left: 15px;
}
.gallery {
    .swiper-scrollbar-drag {
        background-color: $green;
    }
}
@media (max-width: 992px) {
    .global__title {
        margin-bottom: 20px;
        font-size: 18px;
    }
}
@media (max-width: 355px) {
    .global__title {
        font-size: 16px;
    }
    }