$green: #4CAF50;
$orange: #FFA500;
$red: #F52424;
$onhover: #63D167;
$black: #000;
$white: #fff;
%regular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
%bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
%light {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}