<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__items">
            <img src="images/header/logo.png" alt="logo" class="footer__logo">
            <a class="footer__phone" href="tel:+79188671567"><i class="fas fa-phone-volume"></i>Позвонить</a>
            <a class="footer__mail" href="mailto:english-and-music@yandex.ru"><i class="far fa-envelope-open"></i>Электронная почта</a>
            <a class="footer__location" href="https://yandex.ru/maps/-/CCUme-BR0C"><i class="fas fa-search-location"></i>Как нас найти</a>
        </div>
        <p class="footer__copyright">Copyright, <span class="date"></span> madeBy Andrej<i class="fas fa-heart"></i></p>
        </div>
    </div>
</footer>