<section class="headertop">
    <div class="container">
        <ul class="headertop__list">
            <li class="headertop__link"><i class="fas fa-phone-volume"></i><a href="tel:+79188671567">+7-918-867-15-67</a></li>
            <li class="headertop__link"><i class="far fa-envelope-open"></i><a href="mailto:english-and-music@yandex.ru">english-and-music@yandex.ru</a></li>
            <li class="headertop__link"><i class="fas fa-search-location"></i><a href="https://yandex.ru/maps/-/CCUme-BR0C">Ставрополь, ул. Дзержинского, д. 158</a></li>
        </ul>
        <h1 class="headertop__title animate__animated animate__zoomIn">студия дополнительного образования<span><br><английский и музыка></span></h1>
        <div class="headertop__inner">
            <div class="headertop__swiper swiper-container">
                <div class="headertop__wrapper swiper-wrapper">
                    <div class="headertop__slide swiper-slide"><img src="images/header/bigben.jpg" alt="bigben"></div>
                    <div class="headertop__slide swiper-slide"><img src="images/header/lighthouse.jpg" alt="lighthouse"></div>
                    <div class="headertop__slide swiper-slide"><img src="images/header/road.jpg" alt="road"></div>
                    <div class="headertop__slide swiper-slide"><img src="images/header/underground.jpg" alt="underground"></div>
                </div>
            </div>
            <ul class="headertop__info">
                <li class="headertop__infolist"><i class="fas fa-check"></i>Занятия для детей проводятся в группах и индивидуально.</li>
                <li class="headertop__infolist"><i class="fas fa-check"></i>Группы формируются из числа обучающихся количеством до 16 человек.</li>
                <li class="headertop__infolist"><i class="fas fa-check"></i>Занятия для взрослых - только индивидуально.</li>
                <li class="headertop__infolist"><i class="fas fa-check"></i>Зачисление в студию осуществляется путем заключения договоров:</li>
                <li class="headertop__infolist"><i class="fas fa-asterisk asterisk"></i>без тестирования по предварительной записи при наличии свободных мест - для детей с 5 лет,</li>
                <li class="headertop__infolist"><i class="fas fa-asterisk asterisk"></i>на основании тестирования при наличии свободных мест - для школьников и взрослых.</li>
                <li class="headertop__infolist"><i class="fas fa-check"></i>Занятия в группах проводятся 2 раза в неделю по 45 мин. (академический час).
                </li>
            </ul>
        </div>
    </div>
</section>