<header class="header">
    <div class="container">
        <div class="header__inner">
            <a data-scroll="#header" href="#" class="header__logo"><img src="images/header/logo.png" alt="logo"></a>
            <nav class="nav" id="nav">
                <a data-scroll="#services" href="#" class="nav__link">Услуги и Цены</a>
                <a data-scroll="#teachers" href="#" class="nav__link">Наши преподаватели</a>
                <a data-scroll="#gallery" href="#" class="nav__link">Фотогалерея</a>
                <a data-scroll="#contacts" href="#" class="nav__link">Контакты</a>
                <button class="header__btn">Документы</button>
            </nav>
        </div>
    </div>
</header>