<header class="header">
    <div class="container">
        <div class="header__inner">
            <a data-scroll="#header" href="#" class="header__logo"><img src="images/header/logo.png" alt="logo"></a>
            <nav class="nav" id="nav">
<ul class="nav__list">
    <li class="nav__item"><a data-scroll="#services" href="#" class="nav__link">Услуги и Цены</a></li>
    <li class="nav__item"><a data-scroll="#teachers" href="#" class="nav__link">Наши преподаватели</a></li>
    <li class="nav__item"><a data-scroll="#gallery" href="#" class="nav__link">Фотогалерея</a></li>
    <li class="nav__item"><a data-scroll="#contacts" href="#" class="nav__link">Контакты</a></li>
    <li class="nav__item"><button class="header__btn">Документы</button></li>
</ul>
            </nav>
            <button class="burger" type="button" id="navToggle">
                <span class="burger__item"></span>
             </button>
        </div>
    </div>
</header>