<header class="header" id="header">
    <div class="container">
        <div class="header__inner">
            <a href="" class="header__logo"><img src="images/header/logo.png" alt="logo"></a>
            <nav class="nav" id="nav">
                <a href="#" class="nav__link" data-scroll="#features">Услуги и Цены</a>
                <a href="#" class="nav__link" data-scroll="#works">Наши преподаватели</a>
                <a href="#" class="nav__link" data-scroll="#our__team">Фотогалерея</a>
                <a href="#" class="nav__link" data-scroll="#testimonials">Контакты</a>
                <button class="header__btn">Документы</button>
            </nav>
        </div>
    </div>
</header>