<div class="modal">
    <div class="modal__dialog">
        <div class="modal__content">
            <div class="modal__title">
                <div class="modal__name">Документы </div>
                <button type="button" class="modal__close"><i class="far fa-times-circle"></i></button>
            </div>
            <div class="modal__info">
            <div class="modal__document">
                <a href="images/docs/license.pdf" class="modal__download">Лицензия Министерсва образования</a>
            </div>
            <div class="modal__document">
                <a href="images/docs/registration.pdf" class="modal__download">Свидетельство о государственной регистрации физического лица в качестве индивидуального предпринимателя</a>
            </div>
            <div class="modal__document">
                <a href="images/docs/stopdeal.pdf" class="modal__download">Положение о порядке оформления возникновения, приостановления и прекращения отношений</a>
            </div>
            <div class="modal__document">
                <a href="images/docs/discounts.pdf" class="modal__download">Положение о предоставлении льгот</a>
            </div>
            <div class="modal__document">
                <a href="images/docs/test.pdf" class="modal__download">Положение о проведении промежуточных и итоговой аттестаций</a>
            </div>
            <div class="modal__document">
                <a href="images/docs/lessons.pdf" class="modal__download">Положение о режиме занятий</i></a>
            </div>
            <div class="modal__document">
                <a href="images/docs/attend.pdf" class="modal__download">Правила допуска с 01.09.2020 года</a>
            </div>
            <div class="modal__document">
                <a href="images/docs/transition.pdf" class="modal__download">Правила зачисления и порядок перевода</a>
            </div>
        </div>
        </div>
    </div>
</div>