<div class="modal">
    <div class="modal__dialog">
        <div class="modal__content">
            <div class="modal__title">
                <div class="modal__name">Документы </div>
                <button type="button" class="modal__close"><i class="far fa-times-circle"></i></button>
            </div>
            <div class="modal__info">
            <div class="modal__document">
                <p class="modal__docname">Лицензия Министерсва образования</p>
                <a href="images/docs/license.pdf" class="modal__download"><i class="fas fa-download"></i></a>
            </div>
            <div class="modal__document">
                <p class="modal__docname">Свидетельство о государственной регистрации физического лица в качестве индивидуального предпринимателя</p>
                <a href="images/docs/registration.pdf" class="modal__download"><i class="fas fa-download"></i></a>
            </div>
            <div class="modal__document">
                <p class="modal__docname">Положение о порядке оформления возникновения, приостановления и прекращения отношений</p>
                <a href="images/docs/stopdeal.pdf" class="modal__download"><i class="fas fa-download"></i></a>
            </div>
            <div class="modal__document">
                <p class="modal__docname">Положение о предоставлении льгот</p>
                <a href="images/docs/discounts.pdf" class="modal__download"><i class="fas fa-download"></i></a>
            </div>
            <div class="modal__document">
                <p class="modal__docname">Положение о проведении промежуточных и итоговой аттестаций</p>
                <a href="images/docs/test.pdf" class="modal__download"><i class="fas fa-download"></i></a>
            </div>
            <div class="modal__document">
                <p class="modal__docname">Положение о режиме занятий</p>
                <a href="images/docs/lessons.pdf" class="modal__download"><i class="fas fa-download"></i></a>
            </div>
            <div class="modal__document">
                <p class="modal__docname">Правила допуска с 01.09.2020 года</p>
                <a href="images/docs/attend.pdf" class="modal__download"><i class="fas fa-download"></i></a>
            </div>
            <div class="modal__document">
                <p class="modal__docname">Правила зачисления и порядок перевода</p>
                <a href="images/docs/transition.pdf" class="modal__download"><i class="fas fa-download"></i></a>
            </div>
        </div>
        </div>
    </div>
</div>