<div class="reviews">
    <div class="container">
        <div class="reviews__inner">
            <div class="reviews__container swiper-container">
                <div class="reviews__wrapper swiper-wrapper">
                    <div class="reviews__slide reviews__slide--first swiper-slide">
                        <div class="reviews__content">
                            <div class="reviews__info">
                                <div class="reviews__name">Алиса Т</div>
                                <div class="reviews__stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                            <div class="reviews__sign"><i class="fas fa-quote-right"></i></div>
                            <p class="reviews__text">Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один </p>
                        </div>
                    </div>
                    <div class="reviews__slide reviews__slide--second swiper-slide">
                        <div class="reviews__content">
                            <div class="reviews__info">
                                <div class="reviews__name">Алиса Т</div>
                                <div class="reviews__stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                            <div class="reviews__sign"><i class="fas fa-quote-right"></i></div>
                            <p class="reviews__text">Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один </p>
                        </div>
                    </div>
                    <div class="reviews__slide reviews__slide--third swiper-slide">
                        <div class="reviews__content">
                            <div class="reviews__info">
                                <div class="reviews__name">Алиса Т</div>
                                <div class="reviews__stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                            <div class="reviews__sign"><i class="fas fa-quote-right"></i></div>
                            <p class="reviews__text">Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один </p>
                        </div>
                    </div>
                    <div class="reviews__slide reviews__slide--second swiper-slide">
                        <div class="reviews__content">
                            <div class="reviews__info">
                                <div class="reviews__name">Алиса Т</div>
                                <div class="reviews__stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                            <div class="reviews__sign"><i class="fas fa-quote-right"></i></div>
                            <p class="reviews__text">Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один </p>
                        </div>
                    </div>
                    <div class="reviews__slide reviews__slide--third swiper-slide">
                        <div class="reviews__content">
                            <div class="reviews__info">
                                <div class="reviews__name">Алиса Т</div>
                                <div class="reviews__stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                            <div class="reviews__sign"><i class="fas fa-quote-right"></i></div>
                            <p class="reviews__text">Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>