<section class="services" id="services">
    <div class="container">
    <h2 data-aos="fade-right" data-aos-duration="1000" class="global__title services__title">Услуги и Цены<i class="fab fa-servicestack"></i></h2>
    <div class="services__inner">
        <div class="services__item">
            <img data-src="images/services/london.jpg" src="images/plug.png" alt="london" class="services__img">
            <div class="services__content">
                <div class="services__info"><i class="fas fa-info-circle"></i></div>
                <h3 class="services__name">Дополнительная общеразвивающая программа «Раннее эстетическое развитие» (для возрастной группы от 5 до 7 лет).</h3>
                <p class="services__subname">Нормативный срок освоения - 144 часа</p>
                <div class="services__price">2800 рублей ежемесячно</div>
            </div>
        </div>
        <div class="services__item">
            <img data-src="images/services/bridge.jpg" src="images/plug.png" alt="bridge" class="services__img">
            <div class="services__content">
                <div class="services__info"><i class="fas fa-info-circle"></i></div>
                <h3 class="services__name">Дополнительная общеразвивающая программа «Английский для школьников» (возрастная группа от 7 до 17 лет). </h3>
                <p class="services__subname">Нормативный срок освоения - 720 часов</p>
                <div class="services__price">2800 рублей ежемесячно</div>
            </div>
        </div>
        <div class="services__item">
            <img data-src="images/services/piano.jpg"  src="images/plug.png"alt="piano" class="services__img">
            <div class="services__content">
                <div class="services__info"><i class="fas fa-info-circle"></i></div>
                <h3 class="services__name">Дополнительная общеразвивающая программа «Музыкальное исполнительство» (возрастная группа от 5 до 17 лет).</h3>
                <p class="services__subname">Нормативный срок освоения - 720 часов</p>
                <div class="services__price">2800 рублей ежемесячно</div>
            </div>
        </div>
        <div class="services__item">
            <img data-src="images/services/china.jpg"  src="images/plug.png"alt="china" class="services__img">
            <div class="services__content">
                <div class="services__info"><i class="fas fa-info-circle"></i></div>
                <h3 class="services__name">Дополнительная общеразвивающая программа «Китайский для школьников» (возрастная группа от 7 до 17 лет).</h3>
                <p class="services__subname">Нормативный срок освоения - 720 часов</p>
                <div class="services__price">2800 рублей ежемесячно</div>
            </div>
        </div>
    </div>
    <div class="services__review">
    <ul class="services__list">
        <li class="services__discount"><i class="fas fa-asterisk icon__black"></i>Индивидуальные занятия оплачиваются отдельно из расчета <span>550 рублей</span> за 45 минут для детей и   <span>700 рублей</span> для взрослых</li>
        <li class="services__discount"><i class="fas fa-asterisk icon__black"></i>Индивидуальные занятия по китайскому из расчета <span>600 рублей</span> за 45 минут для детей и <span>700 рублей</span> для взрослых</li>
        <li class="services__discount"><i class="fas fa-percent icon__black"></i>Существуют <span>льготы</span> на обучение при наличии подтверждающих документов:</li>
        <li class="services__discount"><i class="fas fa-asterisk icon__black"></i>На музыкальное исполнительство и индивидуальное обучение английскому языку льгот нет.</li>
        <li class="services__discount"><i class="fas fa-check"></i>на 2-го ребенка, обучающегося в студии одновременно с первым - 50% скидка от суммы оплаты;</li>
        <li class="services__discount"><i class="fas fa-check"></i>лицам, имеющим 3-х детей и более - 50% скидка от суммы оплаты;</li>
        <li class="services__discount"><i class="fas fa-check"></i>детям, потерявшим одного из родителей - 50% скидка от суммы оплаты;</li>
        <li class="services__discount"><i class="fas fa-check"></i>детям-сиротам - 100% скидка (полное освобождение от оплаты);</li>
        <li class="services__discount"><i class="fas fa-check"></i>детям-инвалидам -100% скидка (полное освобождение от оплаты);</li>
        <li class="services__discount"><i class="fas fa-check"></i>детям, находящимся на попечении опекунов - 100% скидка (полное освобождение от оплаты).</li>
    </ul>
</div>
</div>
</section>