<section class="teachers">
    <div class="container">
        <h2 class="global__title teachers__title">Наши преподаватели<i class="fas fa-chalkboard-teacher"></i></h2>
        <div class="teachers__inner">
            <div class="teachers__item teachers__item--first">
                <div class="teachers__name">Руководитель</div>
                <img data-src="images/teachers/teacher.jpg" src="images/plug.png" alt="teacher" class="teachers__img">
            </div>
            <div class="teachers__item teachers__item--second">
                <div class="teachers__name">Преподаватели</div>
                <div class="teachers__accordion">
                    <ul class="teachers__list-unstyled">
                        <li class="teachers__close teachers__open">
                            <div class="teachers__status">
                                <h3><i class="fas fa-asterisk teachers__asterisk"></i>Руководитель Обабко Татьяна
                                    Глебовна</h3>
                                <span class="arrow"><i class="fas fa-chevron-up"></i></span>
                            </div>
                            <div class="teachers__param">
                                <p class="teachers__text"><i class="fas fa-check"></i>Образование: высшее
                                    профессиональное</p>
                                <p class="teachers__text"><i class="fas fa-check"></i>Пятигорский государственный
                                    пединститут иностранных языков</p>
                                <p class="teachers__text"><i class="fas fa-check"></i>Ставропольское музыкальное училище
                                </p>
                                <p class="teachers__text"><i class="fas fa-check"></i>Преподаватель английского языка и
                                    музыки (по классу «фортепиано»).</p>
                                <p class="teachers__text"><i class="fas fa-check"></i>Стаж педагогической деятельности –
                                    36 лет.</p>
                                <p class="teachers__text"><i class="fas fa-check"></i>Заслуженный работник культуры Российской Федерации.</p>
                            </div>
                        </li>
                        <li class="teachers__close">
                            <div class="teachers__status">
                                <h3><i class="fas fa-graduation-cap teachers__cap"></i>Кожухова Наталья Валерьевна</h3>
                                <span class="arrow"><i class="fas fa-chevron-up"></i></span>
                            </div>
                            <div class="teachers__param">
                                <p class="teachers__text"><i class="fas fa-check"></i>Образование: высшее
                                    профессиональное</p>
                                <p class="teachers__text"><i class="fas fa-check"></i>ГОУ ВПО Северо-Кавказский
                                    государственный технический университет</p>
                                <p class="teachers__text"><i class="fas fa-check"></i>Должность: преподаватель
                                    английского языка.</p>
                                <p class="teachers__text"><i class="fas fa-check"></i>Стаж педагогической деятельности –
                                    10 лет.</p>
                            </div>
                        </li>
                        <li class="teachers__close">
                            <div class="teachers__status">
                                <h3><i class="fas fa-graduation-cap teachers__cap"></i>Митин Андрей Олегович</h3>
                                <span class="arrow"><i class="fas fa-chevron-up"></i></span>
                            </div>
                            <div class="teachers__param">
                                <p class="teachers__text"><i class="fas fa-check"></i>Образование: высшее
                                    профессиональное</p>
                                <p class="teachers__text"><i class="fas fa-check"></i>ГОУ ВПО Северо-Кавказский
                                    государственный технический университет</p>
                                <p class="teachers__text"><i class="fas fa-check"></i>Должность: преподаватель
                                    английского языка.</p>
                                <p class="teachers__text"><i class="fas fa-check"></i>Стаж педагогической деятельности –
                                    10 лет.</p>
                            </div>
                        </li>
                        <li class="teachers__close">
                            <div class="teachers__status">
                                <h3><i class="fas fa-graduation-cap teachers__cap"></i>Посохова Виолетта Мамуковна</h3>
                                <span class="arrow"><i class="fas fa-chevron-up"></i></span>
                            </div>
                            <div class="teachers__param">
                                <p class="teachers__text"><i class="fas fa-check"></i>Образование: высшее
                                    профессиональное</p>
                                <p class="teachers__text"><i class="fas fa-check"></i>НОУ ВПО «Южно-Российский
                                    гуманитарный институт» г. Ростов-на-Дону</p>
                                <p class="teachers__text"><i class="fas fa-check"></i>Среднее профессиональное,
                                    Ставропольский краевой колледж искусств</p>
                                <p class="teachers__text"><i class="fas fa-check"></i>Консерватория при Краснодарском
                                    госуниверситете культуры и искусств</p>
                                <p class="teachers__text"><i class="fas fa-check"></i>Должность: преподаватель
                                    английского языка и музыки</p>
                                <p class="teachers__text"><i class="fas fa-check"></i>Стаж педагогической деятельности –
                                    12 лет.</p>
                            </div>
                        </li>
                        <li class="teachers__close">
                            <div class="teachers__status">
                                <h3><i class="fas fa-graduation-cap teachers__cap"></i>Рытова Ольга Георгиевна</h3>
                                <span class="arrow"><i class="fas fa-chevron-up"></i></span>
                            </div>
                            <div class="teachers__param">
                                <p class="teachers__text"><i class="fas fa-check"></i>Образование: высшее
                                    профессиональное</p>
                                <p class="teachers__text"><i class="fas fa-check"></i>Ставропольский государственный
                                    университет</p>
                                <p class="teachers__text"><i class="fas fa-check"></i>Среднее профессиональное,
                                    Ставропольский краевой колледж искусств</p>
                                <p class="teachers__text"><i class="fas fa-check"></i>Должность: преподаватель
                                    английского языка.</p>
                                <p class="teachers__text"><i class="fas fa-check"></i>Стаж педагогической деятельности –
                                    2 года</p>
                            </div>
                        </li>
                        <li class="teachers__close">
                            <div class="teachers__status">
                                <h3><i class="fas fa-graduation-cap teachers__cap"></i>Цынграф Елизавета Александровна
                                </h3>
                                <span class="arrow"><i class="fas fa-chevron-up"></i></span>
                            </div>
                            <div class="teachers__param">
                                <p class="teachers__text"><i class="fas fa-check"></i>Образование: высшее
                                    профессиональное</p>
                                <p class="teachers__text"><i class="fas fa-check"></i>Чанчуньский педагогический
                                    университет (Китай)</p>
                                <p class="teachers__text"><i class="fas fa-check"></i>Должность – преподаватель
                                    английского и китайского языков</p>
                                <p class="teachers__text"><i class="fas fa-check"></i>Имеется опыт работы преподавателем
                                    в Китае</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>