<section class="video">
    <div class="container">
        <div class="video__inner">
            <div class="video__item">
                <div class="video__data">
                    <video preload="metadata" controls class="video__source" src="images/video/video1.mp4"></video>
                </div>
                <div class="video__content">
                    <p class="video__text">И. Бах. Токката ми минор
                        К. Вебер. Рондо ,,Вечное движение’’ из сонаты до мажор</p>
                </div>
            </div>
            <div class="video__item">
                <div class="video__data">
                    <video preload="metadata" controls class="video__source" src="images/video/video2.mp4"></video>
                </div>
                <div class="video__content">
                    <p class="video__text">Федченко Анастасия, г. Ставрополь, студия "Английский и музыка", М.Глинка Ноктюрн ми бемоль мажор</p>
                </div>
            </div>
            <div class="video__item">
                <div class="video__data">
                    <video preload="metadata" controls class="video__source" src="images/video/video3.mp4"></video>
                </div>
                <div class="video__content">
                    <p class="video__text">Федченко Анастасия, г. Ставрополь, студия "Английский и музыка" Swiss competition, sec.1 piano solo, cat. A</p>
                </div>
            </div>
        </div>
    </div>
</section>