<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <title>English and Music</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.min.css">
    </head>
<body>
    <div class="wrapper">
        @@include('modules/header.html')
        @@include('modules/headertop.html')
        <main class="main">
            @@include('modules/services.html')
            @@include('modules/teachers.html')
            @@include('modules/gallery.html')
            @@include('modules/video.html')
            @@include('modules/reviews.html')
            @@include('modules/map.html')
        </main>
        @@include('modules/footer.html')
    </div>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=f0d676af-e48c-4c81-bf15-e2134be76770&lang=ru_RU">
    </script>
    <script src="js/bundle.js"></script>
</body>

</html>